.button {
    cursor: pointer;
    display: inline-flex;
    border: none;
    border-radius: 5rem;
	padding: 0.5rem;
	width: 2.5rem;
	height: 1.5rem;
    position: relative;
    transition: background-color 0.2s ease-in-out;
}

.toggle {
    border-radius: 10rem;
    height: 1rem;
    width: 1rem;
    background-color: white;
    position: absolute;
    top: 0.25rem;
    bottom: 0;
    left: 0.25rem;
    right: 0;
    transition: transform 0.2s ease-in-out;
}

.button[aria-pressed="true"] {
	background-color: greenyellow;

    .toggle {
        transform: translateX(1rem);
    }
}

.button[aria-pressed="false"] {
	background-color: tomato;
}
