.toggle {
    cursor: pointer;
    position: relative;
    width: 3.5rem;
    height: 2rem;
    border-radius: 100vw;
    border: 2px solid var(--card-background) !important;
    background-color: var(--card-toggle-inactive-background);
    transition: background-color border-color 0.25s ease-in-out;

    @media (prefers-reduced-motion: reduce) {
        transition-duration: 0ms;
    }
}

.toggle::before {
    position: absolute;
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    top: 0.25rem;
    right: 1.75rem; 
    border-radius: 50%;
    background-color: var(--card-toggle-foreground);
    transition: right 0.25s ease-in-out;

    @media (prefers-reduced-motion: reduce) {
        transition-duration: 0ms;
    }
}

.toggle[aria-pressed="true"]::before {
    right: 0.25rem;
}

.toggle[aria-pressed="true"] {
    background-color: var(--card-toggle-active-background);
}

.toggle[aria-pressed="true"]:hover  {
    background-color: var(--card-toggle-hover-background);
}