.button {
    cursor: pointer;
    background-color: var(--button-background);
    color: var(--button-foreground);
    border: var(--button-border);
    padding: 0.5rem 1.25rem;
    border-radius: 3rem;
}

.button:hover {
    background-color: var(--button-hover-background);
    color: var(--button-hover-foreground);
}

.button.active {
    background-color: var(--button-active-background);
    color: var(--button-active-foreground);
    border: var(--button-active-border);
}

.button.active:hover {
    background-color: var(--button-active-hover-background);
    border: var(--button-active-hover-border);
}

.button.active:focus {
    border: 2px solid var(--button-active-foreground);
}