.header {
    background-color: var(--header-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
}

.themeToggle {
    cursor: pointer;
    background-color: var(--theme-toggle-background);
    border: 2px solid var(--theme-toggle-background);
    padding: 0.85rem;
    border-radius: 0.75rem;
}

.themeToggle:hover {
    background-color: var(--theme-toggle-hover);
}

.themeToggle:focus {
    border-color: var(--header-background)
}