.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-block: 2.25rem;
    width: 100%;
    
    @media (width > 860px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.heading {
    @media (width > 1279px) {
        font-size: 2.175rem;
    }
}

.filters {
    display: flex;
    gap: 1rem;

    button {
        font-size: 1.2rem;
        font-weight: var(--fw-m);
    }
}