.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-block: 2.25rem;
}

.heading {
    font-weight: var(--fw-b);
    font-size: 2.25rem;
}

.filters {
    display: flex;
    gap: 1rem;

    button {
        font-size: 1.275rem;
        font-weight: var(--fw-m);
    }
}